.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.complited-task{
opacity: 0,5;

}
.filter_header{
  margin-left: 20px;
  font-size: small;
  color: darkorchid;
}
.error {
 border: red 1px solid;
}

.error-message {
 color: red;
}
.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}
